h2#monseigneurs Als Monseigneurs
i De Monseigneurs van Dispuut "In Vino Veritas"
br
p.i [Verse 1]
p
  | Ik zit en wacht
  br
  | Tot de praeses om mijn mening smacht,
  br
  | Dat komt geheid, de wijsheid komt van mij,
  br
  | Tis een kwestie van tijd
  br 
  br 
  | Want wij zijn 'Vo
  br
  | En wij trekken het Dispuut omhoog!
  br 
  br 
  | Dus als ik lig in mijn bed 
  br
  | Powernappie voor de pret 
  br 
  | Eerst t statieportret
  br
  | Man, wat zijn we toch vet!
p.i [Refrein]
p
  | Als monseigneurs, kleden wij het beste
  br
  | Nog rechtser dan het westen, al worden we snel brak
  br
  | Maar aant eind van de dag, verdienen wij het meeste, drinken wij het meeste
  br 
  | Op de drankorgelbank, 
  br 
  | Meer dan de praeses,
  br 
  | Wat blijven wij rete geil!

p.i [Verse 2]
p 
  | Morgen zijn we brak
  br
  | En 't ontbijt bier brengt me op mn gemak
  br
  | Ik kijk omhoog 
  br
  | De mimosa springt me weer in het oog
  br 
  br 
  | En als de zatheid groeit 
  br
  | De alcohol weer vloeit 
  br
  | De koppijn niet meer loeit 
  br
  | Man wat zijn we toch vet!

p.i [Refrein]
p
  | Als monseigneurs, kleden wij het beste
  br
  | Nog rechtser dan het westen, al worden we snel brak
  br
  | Maar aant eind van de dag, verdienen wij het meeste, drinken wij het meeste
  br 
  | Op de drankorgelbank, 
  br 
  | Meer dan de praeses,
  br 
  | Wat blijven wij rete geil!

p.i [Refrein]
p
  | Als monseigneurs, kleden wij het beste
  br
  | Nog rechtser dan het westen, al worden we snel brak
  br
  | Maar aant eind van de dag, verdienen wij het meeste, drinken wij het meeste
  br 
  | Op de drankorgelbank, 
  br 
  | Meer dan de praeses,
  br 
  | Wat blijven wij rete geil!
