h2#pakwijn Pakwijn
i Dispuut "In Vino Veritas"
br
p.i [Verse 1]
p
  | Ik word geleefd door mijn agenda
  br
  | Eet studiepunten als ontbijt
  br
  | Maar terwijl ik droogjes uitvoer wat er van me wordt verwacht
  br
  | Droom ik van de nachten waarin wijn me écht bevrijdt
br
p
  | Pronkend in mijn gilet rijd ik naar de TU/e
  br
  | Daar wachten de Leeden van 't Dispuut I.V.V
  br
  | We marcheren, galopperen, door de markthal
  br
  | De feut die huppelt mee
br
p.i [Refrein]
br
p
  | Pakwijn trek ik leeg, ik besef meteen
  br
  | Ik zoek m'n grenzen op, en ga erover heen
  br
  | Schenk nog maar een wijntje in mijn lege glas,
  br
  | Dan ben ik weer in mijn sas, met In Vino Veritas
br
p.i [Verse 2]
br
p
  | Het wijnglas zit tussen m'n lippen
  br
  | En dat is precies waar het moet zijn
  br
  | Een onafgebroken slok, met onze P als kapitein
  br
  | Prominent de maatstaf, en GEWIS als het domein
br
p
  | Sterk en zelfverzekerd, naar een borrel die ik leid
  br
  | Aan de bar wacht P Henkemans, de Praeses die ik bemijd
  br
  | Samen drinken we de zon achter de sterren
  br
  | De wijnfles lacht naar mij
br
p.i [Refrein]
br
p
  | Pakwijn trek ik leeg, ik besef meteen
  br
  | Ik zoek m'n grenzen op, en ga erover heen
  br
  | Schenk nog maar een wijntje in mijn lege glas,
  br
  | Dan ben ik weer in mijn sas, met In Vino Veritas
br
p
  | Pakwijn trek ik leeg, ik besef meteen
  br
  | Ik zoek m'n grenzen op, en ga erover heen
  br
  | Schenk nog maar een wijntje in mijn lege glas,
  br
  | Dan ben ik weer in mijn sas, met In Vino Veritas
br
p.i [Bridge]
br
p.i (3x)
p
  | Jalalalala lalalalalala
  br
  | Jalalalalala jalalalalalala
br
p.i [Refrein]
br
p
  | Pakwijn trek ik leeg, ik besef meteen
  br
  | Ik zoek m'n grenzen op, en ga erover heen
  br
  | Schenk nog maar een wijntje in mijn lege glas,
  br
  | Dan ben ik weer in mijn sas, met In Vino Veritas
p.i [Outro]
p
  | Voor je het weet is het weer dag
  br
  | Dus drink ik met een lach, de nacht
