h2#proostlied Proostlied der I.V.V
p Proost, de week begint ermee
p Dinsdag roepen we santé
p Cheers, we proosten met een lach
p Prosit op de donderdag
p Vrijdag proosten we met skol
p Egészségedre daarna
p Zondag roepen we yamas
p Proosten met In Vino Veritahas!
