h2#servetetiquette De Servetetiquette
i Mgr. T.R.T. Nijhuis, Dispuut "In Vino Veritas"
br
h4.my-4 Het servet
p Het servet is een vierkante, stoffen doek die tijdens de avondmaaltijd gebruikt wordt. De taak van het servet is in tweevoud: enerzijds wordt het gebruikt om het gelaat en de handen van ongewilde edoch onvermijdelijke spijsresten te ontdoen en anderzijds om de kleding van de bezitter te beschermen tegen bevlekking.
p Bij aanvang van de maaltijd treft u het servet aan in de omgeving van uw bord. Mogelijk is het servet sierlijk opgevouwen en staande naast of op uw bord. Ook kunt u het treffen in een glas of een servetring. Uiteraard heeft laatstgenoemde verschijning de voorkeur daar alle andere de indruk wekken dat het bedienend personeel het langer dan strikt noodzakelijk met de handen geroerd heeft.
h4.mb-4 Hoe te gebruiken
p Het servet wordt zoals boven vermeld gebruikt om de kleding te beschermen. Daartoe legt u het servet direct bij aanvang van de maaltijd gevouwen op de schoot. Het is, afhankelijk van de omvang, toegestaan de vouw diagonaal te maken. Deze vouw ligt naar u toe.
p Wanneer u het servet nodig heeft om de mond of de handen te reinigen, kunt u het discreet oppakken en voorzichtig het gelaat deppen. De handen worden afgeveegd tijdens het terugleggen op de schoot bij voorkeur buiten zicht van uw tafelgenoten. Vermijd bij het oppakken of wegleggen van het servet de stoel naar achteren te schuiven. Hiermee kunt u onbedoeld de suggestie wekken dat u de tafel verlaten wilt. Mocht u onverhoopt toch de tafel willen of moeten verlaten, hang dan het servet over uw stoelleuning. Dit om de tafelgenoten en bediening kenbaar te maken dat uw afwezigheid van slechts korte duur zal zijn.
p U bent verplicht de mond te deppen met het servet wanneer u vette of andere gemakkelijk opspattende gerechten eet. Neem daarom de gewoonte aan altijd het servet te gebruiken. Blijf echter discreet bij gebruik van het servet.
p Mocht u in de benarde positie verkeren zich te verslikken, gebruik dan het servet om de tafelgenoten af te schermen van het tafereel en mogelijk de spijzen uit uw mond te verwijderen.
p Wanneer u per abuis een tafelgenoot bevlekt biedt hem of haar dan uw servet aan. Ga zelf niet helpen met schoonmaken maar laat merken dat u zich bereidwillig voelt te voldoen in de kosten van de stomerij.
p Als u kenbaar wilt maken dat de maaltijd voor u ten einde is, dept u een laatste keer de lippen en legt u het servet rechts naast het bord. Vouw het servet niet op en leg het zeker niet op het bord.
h4.mb-4 Hoe niet te gebruiken
p Het is ordinair tot zeer ordinair het servet in de boord te steken of om de hals te knopen. Vermijd dit te allen tijde.
p Een servet laten liggen zoals u het aantreft is ongebruikelijk. Hiermee suggereert u op zekere hoogte persoonlijke hygiëne te verwaarlozen.
p Gebruik het servet niet om het bord, het bestek of uw glazen te reinigen. U kunt desgewenst de bediening om vervanging vragen. Ook maakt u het servet niet vochtig in water voor het gebruik.
p Snuit niet de neus in het servet. Wanneer u toch de neus moet snuiten excuseert u zich en verwijdert u zich uit het zicht en gehoor van de tafelgenoten.
