footer.py-4.mt-auto.red-bg
    .container.px-5
        .row.align-items-center.justify-content-between.flex-column.flex-sm-column
            .col-auto
                h5.my-4.text-white
                    | Copyright &copy; Dispuut I.V.V
                    span#year
