doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Website van Hèt Dispuut "In Vino Veritas"')
        meta(name='author', content='Praeses')

        title Dispuut "In Vino Veritas"

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            section.pb-5
                .container
                    h1.mt-4 Dè coup d'etat der dispuut "In Vino Veritas"
                    hr
                    .container.px-4.mt-3
                        .row
                            .col-lg-6
                                .fs-5.mb-4 Wat is een prominent dispuut zonder een staatsgreep? Iemand moet voor wat spanning en sensatie zorgen. Gelukkig zijn wij als heren van Hèt Dispuut "In Vino Veritas" altijd beschikbaar om onze onafhankelijkheid te waarborgen en tentoon te stellen. Daarom gaan we een activiteit organiseren geheel buiten onze moeder vereniging om!
                                .fs-5.mb-4 Op maandag 8 januari om 20:00 gaan wij een Champagne Cocktail cursus en proeverij organiseren voor ieder die daar zin in heeft! Voor maar 12 euro kan je genieten van een avond lekkere drankjes en een goed gezelschap. Vul de forms in om deel te nemen.
                                .fs-5.mb-4
                                    a(href='https://forms.gle/kLF3zTsmbZNWbup8A').fs-5.mb-4 Je kan de forms ook vinden via deze link.
                            .col-lg-6
                                img.img-fluid.rounded.h-75(src='./assets/img/coup.png', alt='qr-code')


        // Footer
        include includes/footer.pug

        include includes/scripts.pug
