doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Modern Business - Start Bootstrap Template

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            section.pb-5
                .container
                    h1.mt-4 Stukken pagina
                    hr
                    .container
                        h2#servetetiquette De Servetetiquette
                        i Mgr. T.R.T. Nijhuis, Dispuut "In Vino Veritas"
                        br
                        h4.my-4 Het servet
                        p Het servet is een vierkante, stoffen doek die tijdens de avondmaaltijd gebruikt wordt. De taak van het servet is in tweevoud: enerzijds wordt het gebruikt om het gelaat en de handen van ongewilde edoch onvermijdelijke spijsresten te ontdoen en anderzijds om de kleding van de bezitter te beschermen tegen bevlekking.
                        p Bij aanvang van de maaltijd treft u het servet aan in de omgeving van uw bord. Mogelijk is het servet sierlijk opgevouwen en staande naast of op uw bord. Ook kunt u het treffen in een glas of een servetring. Uiteraard heeft laatstgenoemde verschijning de voorkeur daar alle andere de indruk wekken dat het bedienend personeel het langer dan strikt noodzakelijk met de handen geroerd heeft.
                        h4.mb-4 Hoe te gebruiken
                        p Het servet wordt zoals boven vermeld gebruikt om de kleding te beschermen. Daartoe legt u het servet direct bij aanvang van de maaltijd gevouwen op de schoot. Het is, afhankelijk van de omvang, toegestaan de vouw diagonaal te maken. Deze vouw ligt naar u toe.
                        p Wanneer u het servet nodig heeft om de mond of de handen te reinigen, kunt u het discreet oppakken en voorzichtig het gelaat deppen. De handen worden afgeveegd tijdens het terugleggen op de schoot bij voorkeur buiten zicht van uw tafelgenoten. Vermijd bij het oppakken of wegleggen van het servet de stoel naar achteren te schuiven. Hiermee kunt u onbedoeld de suggestie wekken dat u de tafel verlaten wilt. Mocht u onverhoopt toch de tafel willen of moeten verlaten, hang dan het servet over uw stoelleuning. Dit om de tafelgenoten en bediening kenbaar te maken dat uw afwezigheid van slechts korte duur zal zijn.
                        p U bent verplicht de mond te deppen met het servet wanneer u vette of andere gemakkelijk opspattende gerechten eet. Neem daarom de gewoonte aan altijd het servet te gebruiken. Blijf echter discreet bij gebruik van het servet.
                        p Mocht u in de benarde positie verkeren zich te verslikken, gebruik dan het servet om de tafelgenoten af te schermen van het tafereel en mogelijk de spijzen uit uw mond te verwijderen.
                        p Wanneer u per abuis een tafelgenoot bevlekt biedt hem of haar dan uw servet aan. Ga zelf niet helpen met schoonmaken maar laat merken dat u zich bereidwillig voelt te voldoen in de kosten van de stomerij.
                        p Als u kenbaar wilt maken dat de maaltijd voor u ten einde is, dept u een laatste keer de lippen en legt u het servet rechts naast het bord. Vouw het servet niet op en leg het zeker niet op het bord.
                        h4.mb-4 Hoe niet te gebruiken
                        p Het is ordinair tot zeer ordinair het servet in de boord te steken of om de hals te knopen. Vermijd dit te allen tijde.
                        p Een servet laten liggen zoals u het aantreft is ongebruikelijk. Hiermee suggereert u op zekere hoogte persoonlijke hygiëne te verwaarlozen.
                        p Gebruik het servet niet om het bord, het bestek of uw glazen te reinigen. U kunt desgewenst de bediening om vervanging vragen. Ook maakt u het servet niet vochtig in water voor het gebruik.
                        p Snuit niet de neus in het servet. Wanneer u toch de neus moet snuiten excuseert u zich en verwijdert u zich uit het zicht en gehoor van de tafelgenoten.
                        hr
                        h2#wijn Wijn in de mythologie en de oudheid
                        i 20 februari 2007
                        br
                        br
                        p De Griekse mythologie is een grote collectie van inspirerende gedachten. Zo hadden de Grieken voor vele zaken een god, een beschermheer of een andere verpersonificatie. Een van de belangrijkste goden is de god Dionysos, de god van de wijn.
                        p In de Romeinse mythologie is deze god bekend onder de naam Bacchus. Deze naam zal menigeen bekend in de oren klinken, daar het woord bacchanaal direct van deze naam is afgeleid. Deze term heeft dan ook veel te maken met de taferelen die zich rond deze godheid afspeelden. Toch was hij niet alleen de god van de wijn en de dronkenschap. Met zijn reisgezelschap, de bacchanten en andere wezens, trok hij rond en naar verluidt leidde dat niet alleen tot dronkenschap, maar ook tot inspiratie in de schone kunsten, vreugde en beschaving. Een van de volgelingen van Dionysos was de begaafde muzikant Marsyas. Ook de Muzen, de godinnen van o.a. het lied, de dans, de filosofie en de sterrenkunde, gingen wel eens met hem op stap. Hij verkeerde altijd in een goed en uiterst intellectueel gezelschap.
                        p Jaarlijks werden er door de oude Grieken feesten georganiseerd ter verering van Dionysos. De Grieken werden dan een met de godheid. De drinker trad buiten zichzelf en zijn zorgen verdwenen als bij toverslag. Voor ze dronken, werd eerst een plengoffer voor de godheid gepleegd. In de oudheid was het wijn drinken een bezigheid waar een heel bereidingsritueel aan vooraf ging. Eerst werd de wijn gefilterd met behulp van wijnzeven, vervolgens werd de wijn in kannen geschonken. Na de wijn aangelengd te hebben met water, werd het met opscheplepels verdeeld over drinkschalen. Pas dan kon de wijn gedronken worden, dit alles aan een lange dis met een goede maaltijd en bij sfeervol licht van mooie kandelaars.
                        p Helaas is dit gebruik door de modernere botteltechnieken in de vergetelheid geraakt. Toch is het nog steeds een gegeven dat men door het drinken van wijn tot inzichten kan komen, inspiratie op kan doen en soms beter dan normaal kan filosoferen. Trekt u hier lering uit. Prosit!
                        hr
                        h2.mt-4#kurk Kurk: Een bloemlezing
                        i Dhr. J.J. Sanders, "In Vino Veritas"
                        br
                        i 29 november 2006
                        br
                        br
                        p De grootste vijand voor het conserveren van wijn is het langdurig blootstellen aan zuurstof (oxidatie). Al meer dan 400 honderd jaar denken oenologen na over een correcte wijze van conservatie. Sinds het intreden van de wijnfles, zo'n 200 jaar geleden, worden wijnflessen afgesloten door een kurk. Kurk is afkomstig van de schors van een kurkeik (Quercus suber). Echter, door de technologische ontwikkelingen van de afgelopen decennia zijn er nieuwe afsluitingsmogelijkheden ontwikkeld. Zo zijn er op dit moment naast de natuurkurk ook kroonkurk, bewerkte kurk, kunststofkurk en de schroefdop op de markt verschenen. In dit artikel zal ik de voor- en nadelen van de verschillende afsluitingsmethoden bespreken.
                        p Om te beginnen zullen de verschillende nadelen besproken worden van de natuurkurk.
                        ul
                            li Het grootste gevaar dat wijn in een wijnfles afgesloten door natuurkurk kan lopen is dat deze gecontamineerd wordt met trichlooranisol. Trichlooranisol (ook wel TCA genoemd) ontstaat door interactie van micro-organismen in de natuurlijke kurk met de chemische stoffen, die tijdens de kurkfabricage worden gebruikt om deze micro-organismen te doden. TCA is een zeer sterke contaminant. Slechts één gecontamineerde kurk is in staat om een hele zending te besmetten. Op dit moment zorgt deze vorm van contaminatie bij één op de 12 à 20 flessen voor een duidelijke mate van smaakverstoring.
                            li Een wijnfles afgesloten door natuurkurk dient zodanig bewaard te worden dat de wijn de kurk vochtig houdt. Wanneer dit niet gebeurt droogt de kurk op en zal zuurstof de fles binnentrekken wat zal leiden tot oxidatie van de wijn.
                            li De natuurkurk heeft de neiging om zelfs onder goede omstandigheden brosser en minder zuurstofafsluitend te worden. Dit geeft ook vaak problemen met het openen van de fles. Vanwege deze eigenschap adviseren de grote chateaus om hun wijnen na 15 à 20 jaar te herkurken!
                            li Door de steeds groter wordende wijnproductie in de wereld kan de kurkindustie de vraag niet bijhouden en wordt de kwaliteit van de kurk minder.
                            li De natuurkurk wordt door alle maatregelen die tegen TCA moeten worden getroffen een steeds duurdere afsluiting van de fles.
                        p Nu zullen de alternatieven voor de afsluiting van een wijnfles besproken worden. Per alternatief zullen de voor- en nadelen besproken worden.
                        ul
                            li De kroonkurk heeft niet de nadelen die natuurkurk heeft op het gebied van contaminatie met TCA. Ook spreekt het voor zich dat een wijnfles afgesloten door een kroonkurk niet noodzakelijk liggend opgeslagen hoeft te worden. Wel ken er lekkage optreden door mechanische beschadiging tijdens transport en opslag. Hierdoor verdwijnt de luchtdichte afsluiting.
                            li Er bestaan diverse procédé's om van de natuurkurk een nieuw soort kurk te maken, de zogenaamde bewerkte kurk. Fabrikanten bewerken de kurk in zijn huidige vorm zodanig, dat het risico van het ontstaan van trichlooranisol zo klein mogelijk is. Ook zijn er firma's die de kurk fijnmalen, en dan via allerlei procédé's weer in een kurkvorm brengen. Hoewel deze procédé's de kans op TSA verkleinen is het nog steeds mogelijk dat de flessen gecontamineerd kunnen worden. Ook voor de bewerkte kurk geldt dat deze bij langdurige opslag vochtig gehouden dient te worden, dit betekent dat ook wijnflessen afgesloten door een bewerkte kurk moeten liggen. Daarnaast moet er vastgesteld worden dat de ontwikkelingen op het gebied van de bewerkte kurk op dit moment nog niet zover zijn dat wijn in een wijnfles afgesloten door bewerkte kurk niet langer dan vijf jaar bewaard kan worden.
                            li De afgelopen tijd wordt er steeds meer geëxperimenteerd met het vervaardigen van kunststof kurk. Deze ontwikkelingen staan op dit moment feitelijk nog maar in de kinderschoenen. Hoewel sommige ontwikkelingen hoopvol gevend zijn, zijn er op dit moment nog te veel opstartproblemen om wijn langdurig af te sluiten met deze methode. Een wijnfles afgesloten door een kunststof kurk kan op dit moment niet langer dan twee jaar bewaard worden. Daarnaast komt het ook vaak voor dat de kunststofkurk met een kurkentrekker moeilijker uit de fles te verwijderen zijn. Voordeel is, dat er een goede afsluiting van de fles is: tot 10 keer beter dan met een conventionele kurk! Bovendien zijn er minder problemen met transport en opslag, de fles kan immers zowel horizontaal als verticaal worden opgeslagen.
                            li De schroefdop heeft als wijnafsluiter de afgelopen jaren steeds meer aan populariteit gewonnen. Vanzelfsprekend is er bij de schroefdop geen spraken van TCA. Ook is het niet noodzakelijk om de wijnfles horizontaal te bewaren. Toch heeft de schroefdop ook verschillende nadelen ten opzichte van andere afsluitmogelijkheden. Zo is de schroefdop, net als de kroonkurk, kwetsbaar bij grootschalig transport en opslag. De schroefdop kan zodanig beschadigd raken dat de fles niet luchtdicht afgesloten is.
                        p De verschillende voor- en nadelen op een rijtje gezet hebbende zou men tot de conclusie kunnen komen dat de natuurkurk wellicht aan vervanging toe is als flesafsluiter. Echter, de oenologie is geen exacte wetenschap, er spelen niet alleen objectieve beweegredenen mee in de besluitvorming omtrent de afsluiting van de wijnfles. De consumptie van wijn is in grote mate een gevoelskwestie. Persoonlijk kom ik dan ook tot de volgende conclusie:
                        p De natuurkurk is allerminst aan vervanging toe. De natuurkurk is in de afgelopen eeuwen deel gaan uitmaken van onze cultuur, denk hierbij aan gezegden als "iets goeds onder de kurk hebben" of "hij is de kurk waar de vereniging op drijft". Ook het ritueel dat bij het ontkurken van een fles plaatsvindt is wat mij betreft een significant onderdeel van de totale beleving van het wijndrinken. Natuurlijk wordt ook mijn plezier in het proeven en drinken van wijn bedorven door fouten in wijn veroorzaakt door het gebruik van natuurkurk. Toch stel ik vast dat zeker voor de conservering van (rode) kwaliteitswijnen er op dit moment geen betere afsluitmethoden zijn dan de natuurkurk. Voor de wijnen die voor consumptie niet (lang) op de fles hoeven te rusten, denk hierbij aan de tafelwijnen en de fruitige rode en witte wijnen, zijn de alternatieve afsluitmethoden wel geschikt. Natuurlijk zal ik als liefhebber de nieuwe ontwikkelingen kritisch doch constructief blijven volgen, maar voor een goede Saint-Émilion of Haut-Médoc vind ik het niet gepast dat deze afgesloten wordt door een schroefdop.
                        hr
                        h2#panta Panta Rei
                        i Dispuut "In Vino Veritas"
                        br
                        i 9 mei 2006
                        br
                        br
                        p Zoals het water van de Dommel blijft stromen, zoals de klok half vijf dagelijks twee keer passeert, zoals het leven van bomen vergankelijk is, zo staat niets in de wereld stil. De filosoof Heraclitus was in de overtuiging dat alles aan verandering onderhevig is. Zijn gehele filosofie vatte hij samen in de twee woorden "panta rei", ofwel "alles stroomt". Met deze visie inspireerde hij vele grote filosofen, onder wie Plato en Aristoteles. Uiteraard is dit een gevatte uitspraak, je kunt de hele dag in je bed liggen, maar de wereld draait toch door. Het is dan ook een goede zaak om iets bij te dragen aan het toch al zo drukke, maar goede leven, dat maar door en door gaat. De heren van GEWIS-Dispuut "In Vino Veritas" houden van het goede leven en zijn ook in staat daaraan iets moois bij te dragen. Een kleine bloemlezing volgt.
                        p Het hoogtepunt van het jaar was ongetwijfeld de illustere PopQuiz. In de twaalf categorieën van puike kwaliteit werd de muziekkennis van elk team danig op de proef gesteld. Dit zorgde voor hilarische taferelen; uiteraard was iedereen overtuigd van zijn of haar gelijk en moest de rest van het team daarvan overtuigd worden. Ook de jury, op wier schouders de immense druk der consequentie rustte, had het niet makkelijk. Gelukkigerwijs werden zij gesteund door enkele deelnemers, die zich gul opstelden en de juryleden een biertje doneerden. Het team "In Vinno Veritas", geleid door voorman Finbar Bogerd, wist uiteindelijk op de meeste vragen een correct antwoord te geven. Hiermee zijn zij in het bezit gekomen van de PopQuiz wisseltrofee. Uiteraard staat dit goed op ieder curriculum vitae, deze heren mogen zich hiermee dan ook gelukkig prijzen. De I.V.V PopQuiz wordt algemeen beschouwd als een geslaagde avond die eventueel voor herhaling vatbaar zou kunnen zijn.
                        p Iets later in het jaar heeft het dispuut zich verrijkt met een nieuw lid, Dhr. Timmerman. Dit moest uiteraard bekroond worden met een borrel. De "In Vino Veritas"-borrel was een gezellig samenzijn in de GEWIS-ruimte. Iets dat gekoesterd moet worden, zeker met het oog op de geplande verhuizing. Dan zal opnieuw sfeer moeten worden gecreëerd in de nu nog kale, onbekende ruimte.
                        p De volgende dag werd het ESKafé onveilig gemaakt. Daar organiseerde I.V.V de Casinoavond. Uiteraard is het ESKafé een uitermate geschikte locatie om je geld in te zetten op het lot, of blindelings te vertrouwen op je stalen pokerface. Dit pakte voor een aantal mensen goed uit, voor sommigen minder. Het plezier was er desondanks niet minder om, in de entourage van gedimd licht, sigaren en donkere zonnebrillen voelde menigeen zich prima thuis.
                        p Gelukkig stroomt alles nog steeds. Ook bij I.V.V wordt niet stil gezeten. Er liggen alweer mooie activiteiten in het verschiet want van het goede leven moet genoten worden. Het wordt ons in het leven soms ook wel makkelijk gemaakt; zoveel mogelijkheden dat er zijn om een fijne dag te beleven. Onlangs is het veldje voor het auditorium ook verrijkt met een ideale oplossing voor de hoge druk op de blaas, zoals vaak voorkomt op donderdagavond, zo net na de borrel. Ook dat mag daar stromen. Zolang Hare Majesteit de Koningin Eindhoven af en toe verblijdt met een bezoek, zolang onze hooggeachte voorzitter nog steeds zingend door het bestuurshok loopt, zolang de zon weer schijnt na een regenbui, zolang de klok half vijf wederom passeert, is het duidelijk dat alles nog steeds stroomt, en tot in den treure door zal stromen. h2#proostlied Proostlied der I.V.V
                        hr
                        h2#proostlied Proostlied der I.V.V
                        p Proost, de week begint ermee
                        p Dinsdag roepen we santé
                        p Cheers, we proosten met een lach
                        p Prosit op de donderdag
                        p Vrijdag proosten we met skol
                        p Egészségedre daarna
                        p Zondag roepen we yamas
                        p Proosten met In Vino Veritahas!
                        br
                        hr
                        h2#statieportret Statieportret
                        i Dispuut "In Vino Veritas"
                        br
                        img.img-fluid(src='./assets/img/statieportretten/statieportret.png', alt='Statieportret Dispuut "In Vino Veritas"')

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
