.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Koster.jpeg?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Dhr. M.B. Koster
            ul.fs-5.list-group.list-unstyled
                li Lid sedert oktober 2023
                li Favoriete wijn: Derrière la Roche, Vieilles Vignes 2018

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Maes.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Dhr. Q. Maes
            ul.fs-5.list-group.list-unstyled
                li Lid sedert juli 2018
                li Favoriete wijn: 2012 Grizzly Bear Cabernet Sauvignon
                p.fst-italic.mt-3.text-center "Kwantiteit is ook een kwaliteit!"
