// MET TITELS
.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Bosma.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. B.H. Bosma
            ul.fs-5.list-group.list-unstyled
                li Pedel
                li Lid sedert december 2019
                li Favoriete wijn: 2018 Emilio Moro Malleolus Melchior
                p.fst-italic.mt-3.text-center "Als de Ab-Actis moet pissen, dan moet de Ab-Actis pissen."

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Houthuijs.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. T.J. Houthuijs
            ul.fs-5.list-group.list-unstyled
                li Artis Vinus
                li Lid sedert december 2019
                li Favoriete wijn: pakwijn

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Sanders.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. J.J. Sanders
            ul.fs-5.list-group.list-unstyled
                li Vinoloog
                li Lid sedert november 2006
                li Favoriete wijn: Domaine de Courcel Pommard Premier Cru Les Rugiens 2006

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Zwerts.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. B.L.H.J. Zwerts
            ul.fs-5.list-group.list-unstyled
                li Inquisiteur
                li Lid sedert december 2003
                li Favoriete wijn: Onbekend
                p.fst-italic.mt-3.text-center "Nobody expects the Zwertsian Inquisition!"

// GEEN TITELS
.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Aerts.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. N.K.M. Aerts
            ul.fs-5.list-group.list-unstyled
                li Lid sedert december 2007
                li Favoriete wijn: Onbekend

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Beckers.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. R.J.J. Beckers
            ul.fs-5.list-group.list-unstyled
                li Lid sedert december 2003
                li Favoriete wijn: Onbekend

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Beekveld.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. E.T.G. van Beekveld
            ul.fs-5.list-group.list-unstyled
                li Lid sedert juni 2012
                li Favoriete wijn: Zecchini Valpolicella Valpantena Superiore Ripasso 2011

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Ceelen.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. P. Ceelen
            ul.fs-5.list-group.list-unstyled
                li Lid sedert december 2003
                li Favoriete wijn: Onbekend

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Damhuis.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. L.R.J. Damhuis
            ul.fs-5.list-group.list-unstyled
                li Lid sedert april 2015
                li Favoriete wijn: Whale's Tale Sauvignon Blanc
                p.fst-italic.mt-3.text-center "Als één hert over De Dam is, volgen er meer!"

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Emons.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. D.C.L. Emons
            ul.fs-5.list-group.list-unstyled
                li Lid sedert mei 2019
                li Favoriete wijn: Thompson Estate Margaret River Chardonnay

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Fasting.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. L.A. Fasting
            ul.fs-5.list-group.list-unstyled
                li Lid sedert juni 2012
                li Favoriete wijn: Onbekend

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Geffen.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. B.A.M. van Geffen
            ul.fs-5.list-group.list-unstyled
                li Lid sedert december 2016
                li Favoriete wijn: Isole E Olena Chianti Classico 2014

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Gieling.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. B.W.T. Gieling
            ul.fs-5.list-group.list-unstyled
                li Lid sedert september 2019
                li Favoriete wijn ≠ Chardonnay

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Godtschalk.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. A.S. Godtschalk
            ul.fs-5.list-group.list-unstyled
                li Lid sedert juni 2009
                li Favoriete wijn: Onbekend

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Horssen.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. C. van Horssen
            ul.fs-5.list-group.list-unstyled
                li Lid sedert september 2016
                li Favoriete wijn: 2009 Chateau Margaux

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Janssen.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. G. Janssen
            ul.fs-5.list-group.list-unstyled
                li Lid sedert december 2016
                li Favoriete wijn: Boschendal Cabernet Sauvignon (1685 series)

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Keltjens.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. V.A.G. Keltjens
            ul.fs-5.list-group.list-unstyled
                li Lid sedert augustus 2013
                li Favoriete wijn: Clavis Aurea Reserva Do Tejo DOC 2012

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Kerstens.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. S.L. Kerstens
            ul.fs-5.list-group.list-unstyled
                li Lid sedert februari 2011
                li Favoriete wijn: Havana Club 7

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Ledeboer.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. T.S. Ledeboer
            ul.fs-5.list-group.list-unstyled
                li Lid sedert april 2015
                li Favoriete wijn: Inglenook Cabernet Sauvignon 1941

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Lodewijks.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. B. Lodewijks
            ul.fs-5.list-group.list-unstyled
                li Lid sedert april 2015
                li Favoriete wijn: Chateauneuf du Pape 1991
                p.fst-italic.mt-3.text-center "Ja ja, ben nog niet zó ouderwets!"

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Meeles.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. T. Meeles
            ul.fs-5.list-group.list-unstyled
                li Lid sedert augustus 2013
                li Favoriete wijn: Paolo Scavino - Barolo Bric Dël Fiasc 2016
                p.fst-italic.mt-3.text-center "Meeles, die heeft pas visie!"

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Meijaard.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. Y.J. Meijaard
            ul.fs-5.list-group.list-unstyled
                li Lid sedert juli 2017
                li Favoriete wijn: Bodegas Malaga Virgen Pedro Ximénez Don Juan 2009

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Nijhuis.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. T.R.Th. Nijhuis
            ul.fs-5.list-group.list-unstyled
                li Lid sedert mei 2008
                li Favoriete wijn: Onbekend

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Roobeek.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. E. Roobeek
            ul.fs-5.list-group.list-unstyled
                li Lid sedert augustus 2007
                li Favoriete wijn: Onbekend

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Schepens.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. R.L. Schepens
            ul.fs-5.list-group.list-unstyled
                li Lid sedert augustus 2013
                li Favoriete wijn: 2012 Domain des Malandes Chablis Premier Cru

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Thiel.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. J.B. van Thiel
            ul.fs-5.list-group.list-unstyled
                li Lid sedert oktober 2004
                li Favoriete wijn: Onbekend

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Timmerman.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. Th.R. Timmerman
            ul.fs-5.list-group.list-unstyled
                li Lid sedert april 2006
                li Favoriete wijn: Chateau Roudier, St.-Emilion (2003)

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Veenendaal.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. M. van Veenendaal
            ul.fs-5.list-group.list-unstyled
                li Lid sedert mei 2018
                li Favoriete wijn: 2016 Paolo Scavino Barolo Ravera DOCG
                p.fst-italic.mt-3.text-center "Ik ben niet dronken, ik ben gezellig!"

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Verheijen.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. W.J.A. Verheijen
            ul.fs-5.list-group.list-unstyled
                li Lid sedert december 2003
                li Favoriete wijn: Onbekend

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Wong.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. Y.G. Wong
            ul.fs-5.list-group.list-unstyled
                li Lid sedert april 2005
                li Favoriete wijn: Chateau de Lugagnac, Frankrijk (2004)

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Zelst.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Mgr. S.J. van Zelst
            ul.fs-5.list-group.list-unstyled
                li Lid sedert april 2010
                li Favoriete wijn: Chateauneuf du Pape, Frankrijk (1996)

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Smeets.png?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Martinus (Mart) Jan Smeets
            ul.fs-5.list-group.list-unstyled
                li Erelid sedert 2008
                li Favoriete wijn: op tafel bij Avondgasten
