section#leden
    .container.px-4.mt-5
        hr
        .row
            h1.mb-3 Onze Leden

        //  VOLGORDE
        //  Dagelijks bestuur: Praeses, Ab-Actis, Questor, Vice-Praeses
        //  Daarna alle leden met titel alfabetisch
        //  Daarna alle actieve leden alfabetisch
        //  Daarna alle leden alfabetisch

        // -------------------- DAGELIJKS BESTUUR --------------------

        .row
            include bestuur
            include titeldragers
            include actief
            include algemeen
