.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Dijke.jpg?as=avif&height=228', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Dhr. R. van Dijke
            ul.fs-5.list-group.list-unstyled
                li Homines-Attributes, tevens Kelner, tevens Pedel
                li Lid sedert april 2024
                li Favoriete wijn: Schouwen-Druiveland Barrique+ 2021

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Koster.jpeg?as=avif&width=450', alt='')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Dhr. M.B. Koster
            ul.fs-5.list-group.list-unstyled
                li Vice Ab-Actis
                li Lid sedert oktober 2023
                li Favoriete wijn: Derrière la Roche, Vieilles Vignes 2018

.col-lg-4.col-sm-6.mb-5
    .card.h-100.border-1.shadow-sm
        img.card-img-top(loading='lazy', srcset!='./assets/img/Leden/Mokveld.jpeg?as=avif&width=450')
        .card-body.p-4
            h4.fw-bold.card-title.mb-3 Dhr. S.A. Mokveld
            ul.fs-5.list-group.list-unstyled
                li Dux Luxuriae
                li Lid sedert december 2022
                li Favoriete wijn: Onbekend
