doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Website van Hèt Dispuut "In Vino Veritas"')
        meta(name='author', content='Praeses')

        title Dispuut "In Vino Veritas"

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar

            section#introduction
                .container.px-4.mt-5
                    .row
                        h1.fw-bold.mb-3 Statieportretten der Dispuut "In Vino Veritas"
                    .row
                        h3.mb-4.fst-italic Post multa saecula, pocula nulla!

                .container.px-4.mt-3
                    .row.pb-5
                        .col-lg-6
                            img.img-fluid.rounded(loading='lazy' width='620px', srcset!='./assets/img/statieportretten/Statieportret2023.jpeg?as=avif&width=620', alt='Statieportret')
                        .col-lg-6
                            h3.fw-bold.mb-3 Praeses Oosterholt et al. AD 2023
                            .fs-5.mb-4.fst-italic v.l.n.r: Henkemans, Gieling, Mokveld, Koster, Houthuijs, Oosterholt, Damhuis, Bosma, Verkade & Maes.
                    .row.pb-5
                        .col-lg-6
                            img.img-fluid.rounded(loading='lazy' width='620px', srcset!='./assets/img/statieportretten/Statieportret2018.png?as=avif&width=620', alt='Statieportret')
                        .col-lg-6
                            h3.fw-bold.mb-3 Praeses van Veenendaal et al. AD 2018
                            .fs-5.mb-4.fst-italic v.l.n.r: Maes, Meeles, Damhuis, Meijaard, van Veenendaal, Schepens, Janssen & van Horssen
                    .row.pb-5
                        .col-lg-6
                            img.img-fluid.rounded(loading='lazy' width='620px', srcset!='./assets/img/statieportretten/Statieportret2017.jpeg?as=avif&width=620', alt='Statieportret')
                        .col-lg-6
                            h3.fw-bold.mb-3 Praeses Meeles et al. AD 2017
                            .fs-5.mb-4.fst-italic v.l.n.r: van Veenendaal, Keltjes, Beekveld, Meeles, Janssen, Schepens, Damhuis & van Horssen
                    .row.pb-5
                        .col-lg-6
                            img.img-fluid.rounded(loading='lazy' width='620px', srcset!='./assets/img/statieportretten/Statieportret2013.png?as=avif&width=620', alt='Statieportret')
                        .col-lg-6
                            h3.fw-bold.mb-3 Praeses van Beekveld et al. AD 2013
                            .fs-5.mb-4.fst-italic v.l.n.r: Beckers, Ceelen, Schepens, Roobeek, Kerstens, Godtschalk, Zwerts, Timmerman, Verheijen, Fasting, van Zelst, Sanders, Aerts, Nijhuis, Meeles, van Beekveld, Keltjens, van Thiel, Wong
                    .row.pb-5
                        .col-lg-6
                            img.img-fluid.rounded(loading='lazy' width='620px', srcset!='./assets/img/statieportretten/statieportret.png?as=avif&width=620', alt='Statieportret')
                        .col-lg-6
                            h3.fw-bold.mb-3 Praeses Aerts et al. AD 2008
                            .fs-5.mb-4.fst-italic v.l.n.r: Nijhuis, Roobeek, Verheijen, Timmerman, van Thiel, Aerts, Wong, Zwerts, Sanders
        include includes/footer

        include includes/scripts
