doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Website van Hèt Dispuut "In Vino Veritas"')
        meta(name='author', content='Praeses')

        title Dispuut "In Vino Veritas"

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar

            // Page Content
            section.pb-5
                .container
                    h1.mt-4 Stukken pagina
                    hr
                    .container
                        include stukken/als_monseigneurs
                        hr
                        include stukken/pakwijn
                        hr
                        include stukken/servetetiquette
                        hr
                        include stukken/wijn
                        hr
                        include stukken/kurk
                        hr
                        include stukken/panta-rei
                        hr
                        include stukken/proostlied

        // Footer
        include includes/footer

        include includes/scripts
